.detallePost>div.title {
    margin: 0 auto 22px;
}

.detallePost>div.title>a {
    color: #da521e;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.detallePost>div.title>a:hover {
    text-decoration: none;
}

.detallePost>div.title>h2 {
    color: #444;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    margin-top: 0;
}

@media (max-width: 768px) {
    .detallePost>div.title>h2 {
        font-size: 21px;
    }
}

.detallePost>div.title>h2>a {
    color: #444;
    text-decoration: none;
    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    -ms-transition: all 0.33s;
    -o-transition: all 0.33s;
    transition: all 0.33s;
    line-height: 1.4;
}

.detallePost>div.title>h2>a:hover {
    color: #da521e;
    text-decoration: none;
}

.detallePost>div.entryContent {
    margin-bottom: 35px;
}

.detallePost>div.entryContent>p {
    font-size: 15px;
    line-height: 25px;
    padding-top: 0;
    margin-top: 0;
}

.detallePost>div.entryContent>img {
    margin: 12px auto;
    padding-top: 7px;
}

.detallePost>div.entryContent>h4{
    margin-bottom: 25px;
    font-weight: normal;
    color: #888;
    font-size: 16px;
}

.detallePost>div.entryContent>h3{
    color: #da521e;
    font-weight: bold;
}

.detallePost>div.continueReading>a {
    border: 1px solid #da521e;
    color: #da521e;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 18px;
}

.detallePost>div.continueReading>a:hover {
    background: #da521e;
    color: #fff;
    text-decoration: none;
}